<!-- Announcement Bar -->
<div class="announcement-bar">
  <div class="scroll-text">
    Stay alert! — Travel Update:   Heavy rainfall may impact flight operations in across Assam. Happy Journey from Bishal, Dhanada, Anjali, Shuvom and Mahesh!
  </div>
</div>



<!-- Navbar -->
  <nav class="navbar navbar-expand-lg fixed-top custom-navbar">

  <a class="navbar-brand ms-3 brand-text" routerLink="/">  ✈  Go Digit Airline</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ms-auto me-3">
      <li class="nav-item"><a class="btn btn-white" routerLink="/">Home</a></li>
      <li class="nav-item"><a class="btn btn-white" routerLink="/signin">Sign In</a></li>
      <li class="nav-item"><a class="btn btn-white" routerLink="/signup">Sign Up</a></li>
      <li class="nav-item"><a class="btn btn-white" routerLink="/admin">Admin</a></li>
    </ul>
  </div>
</nav>

<!-- Page Content -->
<div style="margin-top: 110px;">
  <router-outlet></router-outlet>
</div>