/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
  background: url('./app/views/home/assets/plane.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  /* overflow-y: hidden; */
}
/* html, body {
    overflow: hidden;
} */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.snackbar-success {
  background: #4caf50; /* green */
  color: white;
}

.snackbar-error {
  background: #f44336; /* red */
  color: white;
}
